<link rel="stylesheet" href="/css/footer.css">
<link rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Comfortaa">

<footer class="mt-auto pt-3 border-top">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-sm-6 col-xs-12">
                <span class="logo"><img src="/img/logo-footer.png"></span>
            </div>

            <div class="col-md-4 col-sm-6 col-xs-12">
                <ul class="menu">
                    <span>Menu</span>
                    <li>
                        <a href="/">Головна</a>
                    </li>

                    <li>
                        <a href="/products/glasses">Окуляри</a>
                    </li>

                    <li>
                        <a href="/products/lenses">Лінзи</a>
                    </li>

                    <li>
                        <a href="/products/cases">Футляри</a>
                    </li>
                </ul>
            </div>

            <div class="col-md-4 col-sm-6 col-xs-12">
                <ul class="address">
                    <span>Contact</span>
                    <li>
                        <i class="fa fa-phone" aria-hidden="true" style="color: white"></i>
                        <a href="#">Phone</a>
                    </li>
                    <li>
                        <i class="fa fa-map-marker" aria-hidden="true"></i>
                        <a href="#">Adress</a>
                    </li>
                    <li>
                        <i class="fa fa-envelope" aria-hidden="true"></i>
                        <a href="#">Email</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>