<link rel="stylesheet" href="/css/header.css">
<link rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Comfortaa">
<nav class="navbar navbar-dark navbar-expand p-0 bg-dark nav-header">
    <div class="container">
        {{#if user}}
            {{#if user.isAdmin}}
                <ul class="navbar-nav d-none d-md-flex mr-auto">
                    <li class="nav-item"><a class="nav-link logout" href="/users/logout" data-abc="true">Log Out</a></li>
                </ul>
                <ul class="navbar-nav d-flex align-items-center">
                    <li class="nav-item">
                        <div class="d-flex flex-row">
                            <img src="/img/{{user.avatar}}" class="rounded-circle user-avatar" width="30">
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link d-flex align-items-center" data-abc="true">
                            <span id="user-name">{{user.name}}</span>
                            <input type="hidden" id="user-id" value="{{user._id}}">
                            <i class='bx bxs-chevron-down'></i>
                        </a>
                    </li>
                </ul>
            {{else if user.isModerator}}
                <ul class="navbar-nav d-none d-md-flex mr-auto">
                    <li class="nav-item"><a class="nav-link logout" href="/users/logout" data-abc="true">Log Out</a></li>
                </ul>
                <ul class="navbar-nav d-flex align-items-center">
                    <li class="nav-item">
                        <div class="d-flex flex-row">
                            <img src="/img/{{user.avatar}}" class="rounded-circle user-avatar" width="30">
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link d-flex align-items-center" data-abc="true">
                            <span id="user-name">{{user.name}}</span>
                            <input type="hidden" id="user-id" value="{{user._id}}">
                            <i class='bx bxs-chevron-down'></i>
                        </a>
                    </li>
                </ul>
            {{else}}
                <ul class="navbar-nav d-none d-md-flex mr-auto">
                    <li class="nav-item"><a class="nav-link logout" href="/users/logout" data-abc="true">Log Out</a></li>
                </ul>
                <ul class="navbar-nav d-flex align-items-center">
                    <li class="nav-item">
                        <div class="d-flex flex-row">
                            <img src="/img/{{user.avatar}}" class="rounded-circle user-avatar" width="30">
                        </div>
                    </li>
                    <li class="nav-item">
                        <a href="/users/me" class="nav-link d-flex align-items-center" data-abc="true">
                            <span id="user-name">{{user.name}}</span>
                            <input type="hidden" id="user-id" value="{{user._id}}">
                            <i class='bx bxs-chevron-down'></i>
                        </a>
                    </li>
                </ul>
            {{/if}}
        {{else}}
            <ul class="navbar-nav d-none d-md-flex mr-auto">
                <li class="nav-item"><a class="nav-link" href="/users/login" data-abc="true">Log In</a></li>
                <li class="nav-item"><a class="nav-link" href="/users/signup" data-abc="true">Sign Up</a></li>
            </ul>
        {{/if}}
    </div>
</nav>
<nav class="navbar navbar-expand-lg navbar-light bg-light py-3 header">
    <div class="container">
        <img src="/img/logo.png" class="logo">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span><i id="bar" class="fas fa-bars"></i></span>
        </button>
        {{#if user}}
            {{#if user.isAdmin}}
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <div class="search-button">
                            <a href="#" class="search-toggle" data-selector="#header-1"></a>
                        </div>
                        <ul class="navbar-nav ml-auto">
                            <li class="nav-item">
                                <a class="nav-link" href="/">Головна</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/products/glasses">Окуляри</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/products/lenses">Лінзи</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/products/cases">Футляри</a>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    Додати товар
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <li><a class="dropdown-item" href="/admin/glasses">Окуляри</a></li>
                                    <li><a class="dropdown-item" href="/admin/lenses">Лінзи</a></li>
                                    <li><a class="dropdown-item" href="/admin/cases">Футляри</a></li>
                                </ul>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    Статистика
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <li><a class="dropdown-item" href="/admin/statistic-day">За день</a></li>
                                    <li><a class="dropdown-item" href="/admin/statistic-month">За місяць</a></li>
                                    <li><a class="dropdown-item" href="/admin/statistic-year">За рік</a></li>
                                    <li><a class="dropdown-item" href="/admin/statistic-top5">ТОП-5</a></li>
                                </ul>
                            </li>
                        </ul>
                        <form class="search-box" method="GET" action="/products/search">
                            <button class="btn-search" type="submit"><i class="fas fa-search"></i></button>
                            <input type="text" class="input-search" name="searchQuery" placeholder="Type to Search...">
                        </form>
                    </div>
            {{else if user.isModerator}}
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <div class="search-button">
                        <a href="#" class="search-toggle" data-selector="#header-1"></a>
                    </div>
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="/">Головна</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/products/glasses">Окуляри</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/products/lenses">Лінзи</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/products/cases">Футляри</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/moderator/chats">Особисті повідомлення</a>
                        </li>
                    </ul>
                    <form class="search-box" method="GET" action="/products/search">
                        <button class="btn-search" type="submit"><i class="fas fa-search"></i></button>
                        <input type="text" class="input-search" name="searchQuery" placeholder="Type to Search...">
                    </form>
                </div>
            {{else}}
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav ml-auto">
                            <li class="nav-item">
                                <a class="nav-link" href="/">Головна</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/products/glasses">Окуляри</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/products/lenses">Лінзи</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/products/cases">Футляри</a>
                            </li>
                            <li class="nav-item">
                                <a href="/products/basket"><i class="fas fa-shopping-bag default-basket" id="buy-smth"></i></a>
                            </li>
                        </ul>
                        <form class="search-box" method="GET" action="/products/search">
                            <button class="btn-search" type="submit"><i class="fas fa-search"></i></button>
                            <input type="text" class="input-search" name="searchQuery" placeholder="Type to Search...">
                        </form>
                    </div>
            {{/if}}
        {{else}}
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="/">Головна</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/products/glasses">Окуляри</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/products/lenses">Лінзи</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/products/cases">Футляри</a>
                        </li>
                    </ul>
                    <form class="search-box" method="GET" action="/products/search">
                        <button class="btn-search" type="submit"><i class="fas fa-search"></i></button>
                        <input type="text" class="input-search" name="searchQuery" placeholder="Type to Search...">
                    </form>
                </div>
        {{/if}}
    </div>
</nav>