<form style="margin: 30px 150px" action="/admin/cases" method="post" enctype="multipart/form-data">
    <h2 style="margin-bottom: 30px">Додати чохли</h2>
    <div class="row mb-3">
        <label for="name" class="col-sm-2 col-form-label">Назва товару:</label>
        <div class="col-sm-10">
            <label for="name"></label><input type="text" class="form-control" id="name" name="name" required>
        </div>
    </div>
    <div class="row mb-3">
        <label for="price" class="col-sm-2 col-form-label">Ціна товару:</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="price" name="price" required>
        </div>
    </div>
    <div class="row mb-3">
        <label for="replacementMode" class="col-sm-2 col-form-label">Виробник:</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="replacementMode" name="producer" required>
        </div>
    </div>
    <div class="row mb-3">
        <label for="material" class="col-sm-2 col-form-label">Матеріал:</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="material" name="material" required>
        </div>
    </div>
    <div class="row mb-3">
        <label for="color" class="col-sm-2 col-form-label">Колір:</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="color" name="color" required>
        </div>
    </div>
    <div class="row mb-3">
        <label for="measurements" class="col-sm-2 col-form-label">Розміри(д/ш/в):</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="measurements" name="measurements" required>
        </div>
    </div>
    <div class="row mb-3">
        <label for="description" class="col-sm-2 col-form-label">Опис товару:</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="description" name="description" required>
        </div>
    </div>
    <div class="row mb-3">
        <label for="imageCover" class="col-sm-2 col-form-label">Головне зображення товару:</label>
        <div class="col-sm-10">
            <input type="file" class="form-control" id="imageCover" name="imageCover" required>
        </div>
    </div>
    <div class="row mb-3">
        <label for="images" class="col-sm-2 col-form-label">Додаткові зображення товару:</label>
        <div class="col-sm-10">
            <input type="file" multiple class="form-control" id="images" name="images" accept=".png, .jpg, .jpeg" required>
        </div>
    </div>

    <button type="submit" class="btn btn-primary">Додати</button>
</form>