<form style="margin: 30px 150px" action="/admin/glasses" method="post" enctype="multipart/form-data">
    <h2 style="margin-bottom: 30px">Додати окуляри</h2>
    <div class="row mb-3">
        <label for="name" class="col-sm-2 col-form-label">Назва товару:</label>
        <div class="col-sm-10">
            <label for="name"></label><input type="text" class="form-control" id="name" name="name" required>
        </div>
    </div>
    <div class="row mb-3">
        <label for="price" class="col-sm-2 col-form-label">Ціна товару:</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="price" name="price" required>
        </div>
    </div>
    <div class="row mb-3">
        <label for="producer" class="col-sm-2 col-form-label">Виробник:</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="producer" name="producer" required>
        </div>
    </div>
    <div class="row mb-3">
        <label for="dioptres" class="col-sm-2 col-form-label">Діопртрії: </label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="dioptres" name="dioptres" required>
        </div>
    </div>
    <div class="row mb-3">
        <label for="sex" class="col-sm-2 col-form-label">Приналежність:</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="sex" required name="sex">
        </div>
    </div>
    <div class="row mb-3">
        <label for="materialOfGlassesFrames" class="col-sm-2 col-form-label">Матеріал оправи:</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="materialOfGlassesFrames" name="materialOfGlassesFrames" required>
        </div>
    </div>
    <div class="row mb-3">
        <label for="colorOfGlassesFrames" class="col-sm-2 col-form-label">Колір оправи:</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="colorOfGlassesFrames" name="colorOfGlassesFrames" required>
        </div>
    </div>
    <div class="row mb-3">
        <label for="description" class="col-sm-2 col-form-label">Опис товару:</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="description" name="description" required>
        </div>
    </div>
    <div class="row mb-3">
        <label for="sizeImage" class="col-sm-2 col-form-label">Розміри товару:</label>
        <div class="col-sm-10">
            <input type="file" class="form-control" id="sizeImage" name="sizeImage" required>
        </div>
    </div>
    <div class="row mb-3">
        <label for="imageCover" class="col-sm-2 col-form-label">Головне зображення товару:</label>
        <div class="col-sm-10">
            <input type="file" class="form-control" id="imageCover" name="imageCover" required>
        </div>
    </div>
    <div class="row mb-3">
        <label for="images" class="col-sm-2 col-form-label">Додаткові зображення товару:</label>
        <div class="col-sm-10">
            <input type="file" multiple class="form-control" id="images" name="images" min="2" accept=".png, jpg, jpeg" required>
        </div>
    </div>

    <button type="submit" class="btn btn-primary">Додати</button>
</form>