<link rel="stylesheet" href="/css/basket.css">

<div class="card" style="margin-top: 30px; margin-bottom: 30px;">
    <div class="row">
        <div class="col-md-8 cart">
            <div class="title">
                <div class="row">
                    <div class="col">
                        <h4><b>Мої покупки</b></h4>
                    </div>
                    <div class="col align-self-center text-right text-muted">{{basket.basketLines.length}} товарів</div>
                </div>
            </div>
            {{#each basket.basketLines}}
            <div class="row border-top border-bottom">
                <div class="row main align-items-center">
                    <div class="col-2"><img class="img-fluid" src="/img/{{this.product.imageCover}}" alt=""></div>
                    <div class="col">
                        <div class="row text-muted product-type">{{this.product.type}}</div>
                        <div class="row">{{this.product.name}}</div>
                    </div>
                    <div class="col" product-id="{{this.product._id}}">
                        <button class="btn btn-link px-2 plus-and-minus-quantity minus">
                            <i class="fas fa-minus"></i>
                        </button>
                        <input type="number" value="{{this.quantity}}" name="quantity" class="quantity" min="1" disabled>
                        <button class="btn btn-link px-2 plus-and-minus-quantity plus">
                            <i class="fas fa-plus"></i>
                        </button>
                    </div>
                    <div class="col"><span class="total-price">{{this.totalPrice}} грн</span>
                        <button class="close delete-from-cart" product-id="{{this.product._id}}">&#10005;</button>
                    </div>
                </div>
            </div>
            {{/each}}
            <div class="back-to-shop"><a href="/">&leftarrow;</a><span class="text-muted">До магазину</span></div>
        </div>
        <div class="col-md-4 summary">
            <div>
                <h5><b>Загальна сума</b></h5>
            </div>
            <div class="row" style="border-top: 1px solid rgba(0,0,0,.1); padding: 2vh 0;">
                <div class="col">Всього до сплати</div>
                <div class="col text-right sub-total-price">{{basket.subTotalPrice}} грн</div>
            </div>
            <button class="btn btn-buy" basket-id="{{basket._id}}">Оформити замовлення</button>
        </div>
    </div>
</div>