<link rel="stylesheet" href="/css/details.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Play">
<script src="/js/star-rating.js" defer="defer"></script>

<section class="glasses-details my-5 pt=5">
    <div class="container">
        <div class="row mt-5">
            <div class="col-lg-5 col-md-12 col-12">
                <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-indicators">
                        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
                        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
                    </div>
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img src="/img/{{product.imageCover}}" class="d-block w-100" alt="...">
                        </div>
                        {{#each product.images}}
                            <div class="carousel-item">
                                <img src="/img/{{this}}" class="d-block w-100" alt="...">
                            </div>
                        {{/each}}
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
            </div>
            <div class="col-lg-5 col-md-12 col-12">
                <div class="glasses-information">
                    <p class="newarrival text-center">NEW</p>
                    <h2>{{product.name}}
                        <button id="copy-button">
                            <i class="fas fa-link"></i>
                        </button>
                    </h2>
                    {{#if product.ratingAverage includeZero=false}}
                        <p>Оцінка користувачів: {{product.ratingAverage}}/5</p>
                    {{else}}
                        <p>Залиште свій коментар. Будьте першими, хто оцінив цей товар!</p>
                    {{/if}}
                    <p class="price"><b>{{product.price}} грн</b></p>
                    <p>{{product.description}}</p>
                    <details>
                        <summary><b>Детальна інформація</b></summary>
                        <p><b>Виробник:</b> {{product.producer}}</p>
                        <p><b>Матеріал:</b> {{product.material}}</p>
                        <p><b>Колір:</b> {{product.color}}</p>
                        <p><b>Розміри(д/ш/в):</b> {{product.measurements}}<br></p>
                    </details>
                </div>
                <label><b>Кількість:</b> </label>
                <input type="number" name="quantity" value="1" class="quantity">
                {{#if user}}
                    {{#if user.isAdmin}}
                        <button class="btn btn-primary btn-md my-0 button-add-to-basket"
                                product-id="{{product._id}}"  product-type="{{product.type}}" disabled>
                            Додати до кошика
                        </button>
                    {{else if user.isModerator}}
                        <button class="btn btn-primary btn-md my-0 button-add-to-basket"
                                product-id="{{product._id}}"  product-type="{{product.type}}" disabled>
                            Додати до кошика
                        </button>
                    {{else}}
                        <button class="btn btn-primary btn-md my-0 button-add-to-basket"
                                product-id="{{product._id}}"  product-type="{{product.type}}">
                            Додати до кошика
                        </button>
                    {{/if}}
                {{else}}
                    <button class="btn btn-primary btn-md my-0 button-add-to-basket"
                            disabled>
                        Додати до кошика
                    </button>
                    <br>Бажаєте замовити? <a href="/users/signup">Зареєструйтесь</a>
                {{/if}}
            </div>
            <div class="container comments">
                <div class="row height d-flex justify-content-center align-items-center">
                    <div>
                        <div class="card">
                            {{#if user.isAdmin}}
                                {{#each comments}}
                                    <div class="d-flex flex-row p-3"> <img src="/img/{{this.user.avatar}}" class="rounded-circle mr-3" alt="">
                                        <div class="w-100">
                                            <div class="d-flex justify-content-between align-items-center">
                                                <div class="d-flex flex-row align-items-center">
                                                    <span class="mr-2">{{this.user.name}}</span>
                                                </div>
                                                <small>{{this.createdAt}}
                                                    <button type="button" class="btn btn-outline-dark button-delete-comment"
                                                            comment-id="{{this._id}}" product-type="{{product.type}}">
                                                        <i class="fas fa-trash"></i>
                                                    </button>
                                                </small>
                                            </div>
                                            <div>
                                                <input type="hidden" value="{{this.rating}}" class="comment-rating"/>
                                                <div>
                                                    <label class="stars"><i class="far fa-star"></i></label>
                                                    <label class="stars"><i class="far fa-star"></i></label>
                                                    <label class="stars"><i class="far fa-star"></i></label>
                                                    <label class="stars"><i class="far fa-star"></i></label>
                                                    <label class="stars"><i class="far fa-star"></i></label>
                                                </div>
                                            </div>
                                            <p class="text-justify comment-text mb-0" style="font-size: 16px">{{this.comment}}</p>
                                        </div>
                                    </div>
                                {{/each}}
                            {{else}}
                                <div class="mt-3 flex-row align-items-center p-3 form-color add-comment">
                                    <h4>Додати коментар</h4>
                                    <form class="form-color" action="/products/{{product.type}}/{{product._id}}/comments" method="POST">
                                        <div class="mt-3 d-flex flex-row align-items-center p-3">
                                            {{#if user}}
                                                <img src="/img/{{user.avatar}}" width="50" class="rounded-circle mr-2">
                                            {{else}}
                                                <img src="/img/default_avatar.jpg" width="50" class="rounded-circle mr-2">
                                            {{/if}}
                                            <div class="rating" style="margin-left: 10px">
                                                <input type="radio" name="rating" value="5" id="5">
                                                <label for="5">☆</label>
                                                <input type="radio" name="rating" value="4" id="4">
                                                <label for="4">☆</label> <input type="radio" name="rating" value="3" id="3">
                                                <label for="3">☆</label> <input type="radio" name="rating" value="2" id="2">
                                                <label for="2">☆</label> <input type="radio" name="rating" value="1" id="1">
                                                <label for="1">☆</label>
                                            </div>
                                        </div>
                                        <input type="text" class="form-control" placeholder="Введіть Ваш відгук..." name="comment"><br>
                                        <button class="btn btn-success send btn-sm ml-3">Надіслати</button>
                                    </form>
                                </div>
                                {{#each comments}}
                                    <div class="d-flex flex-row p-3"> <img src="/img/{{this.user.avatar}}" class="rounded-circle mr-3" alt="">
                                        <div class="w-100">
                                            <div class="d-flex justify-content-between align-items-center">
                                                <div class="d-flex flex-row align-items-center"> <span class="mr-2">{{this.user.name}}</span></div> <small>{{this.createdAt}}</small>
                                            </div>
                                            <div>
                                                <input type="hidden" value="{{this.rating}}" class="comment-rating"/>
                                                <div>
                                                    <label class="stars"><i class="far fa-star"></i></label>
                                                    <label class="stars"><i class="far fa-star"></i></label>
                                                    <label class="stars"><i class="far fa-star"></i></label>
                                                    <label class="stars"><i class="far fa-star"></i></label>
                                                    <label class="stars"><i class="far fa-star"></i></label>
                                                </div>
                                            </div>
                                            <p class="text-justify comment-text mb-0" style="font-size: 16px">{{this.comment}}</p>
                                        </div>
                                    </div>
                                {{/each}}
                            {{/if}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<script>
    const button = document.querySelector('#copy-button')
    button.onclick = () => {
        navigator.clipboard.writeText(window.location.href);
    }
</script>
