<link rel="stylesheet" href="/css/catalog.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Play">

<div class="container">
    <section class="section-content py-3">
        <div class="row">
            <aside class="col-lg-2" style="margin-top:30px">
                <nav class="sidebar card py-2 mb-4">
                    <ul class="nav flex-column" id="nav_accordion">
                        <li class="nav-item">
                            <h5 style="padding-left: 15px"> Фільтри <i class="fas fa-filter"></i></h5>
                        </li>
                        {{#each filtersItemsArray}}
                        <li class="nav-item has-submenu">
                            <a class="nav-link" href="#">{{this.header}}<i class="bi small bi-caret-down-fill"></i></a>
                            <ul class="submenu collapse">
                            {{#each this.filters}}
                                    <li>
                                        <a class="nav-link" href="{{this.link}}">
                                            <input class="form-check-input me-1" type="checkbox"
                                                   value="" aria-label="..."
                                                   onclick='window.location.assign("{{this.link}}")' {{this.checked}} >
                                            {{this.name}}
                                        </a>
                                    </li>
                            {{/each}}
                            </ul>
                        </li>
                        {{/each}}
                        <button class="btn btn-primary clear-filters btn-sm ml-3">
                            <a href="/products/{{type}}">Очистити фільтри</a>
                        </button>
                    </ul>
                </nav>
            </aside>
            <main class="col-lg-10">
                <section class="catalog">
                    <div class="container">
                        <div class="row">
                            {{#if user}}
                                {{#if user.isAdmin}}
                                    {{#each result.data}}
                                        <div class="col-lg-4 .col-sm-6">
                                            <div class="product-card">
                                                <div class="btn-group edit-and-delete" role="group" style="float: right">
                                                    <button type="button" class="btn btn-outline-dark">
                                                        <a href="/admin/{{this.type}}/{{this._id}}/update">
                                                            <i class="fas fa-edit"></i>
                                                        </a>
                                                    </button>
                                                    <button type="button" class="btn btn-outline-dark button-delete"
                                                            product-id="{{this._id}}"  product-type="{{this.type}}">
                                                        <i class="fas fa-trash"></i>
                                                    </button>
                                                </div>
                                                <div class="product-thumb">
                                                    <a href="/products/{{this.type}}/{{this._id}}">
                                                        <img src="/img/{{this.imageCover}}" alt="">
                                                    </a>
                                                </div>
                                                <div class="product-details">
                                                    <a href="/products/{{this.type}}/{{this._id}}">
                                                        <h4>{{this.name}}</h4></a>
                                                    <p>Виборник: {{this.producer}}</p>
                                                </div>
                                                <div class="product-bottom-details d-flex justify-content-between">
                                                    <div class="product-price">{{this.price}} грн</div>
                                                    <div class="btn-group" role="group" style="float: right">
                                                        <button type="button" class="btn">
                                                            <a href="/products/{{this.type}}/{{this._id}}">
                                                                <i class="fas fa-eye"></i>
                                                            </a>
                                                        </button>
                                                        <button type="button" class="btn button-add-to-cart">
                                                            <i class="fas fa-shopping-bag"></i>
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    {{/each}}
                                {{else}}
                                    {{#each result.data}}
                                        <div class="col-lg-4 .col-sm-6">
                                            <div class="product-card">
                                                <div class="product-thumb">
                                                    <a href="/products/{{this.type}}/{{this._id}}">
                                                        <img src="/img/{{this.imageCover}}" alt="">
                                                    </a>
                                                </div>
                                                <div class="product-details">
                                                    <a href="/products/{{this.type}}/{{this._id}}"><h4>{{this.name}}</h4></a>
                                                    <p>Виборник: {{this.producer}}</p>
                                                </div>
                                                <div class="product-bottom-details d-flex justify-content-between">
                                                    <div class="product-price">{{this.price}} грн</div>
                                                    <div class="btn-group" role="group" style="float: right">
                                                        <button type="button" class="btn">
                                                            <a href="/products/{{this.type}}/{{this._id}}">
                                                                <i class="fas fa-eye"></i>
                                                            </a>
                                                        </button>
                                                        <button type="button" class="btn button-add-to-basket"
                                                                product-id="{{this._id}}"  product-type="{{this.type}}">
                                                            <i class="fas fa-shopping-bag"></i>
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    {{/each}}
                                {{/if}}
                            {{else}}
                                {{#each result.data}}
                                    <div class="col-lg-4 .col-sm-6">
                                        <div class="product-card">
                                            <div class="product-thumb">
                                                <a href="/products/{{this.type}}/{{this._id}}">
                                                    <img src="/img/{{this.imageCover}}">
                                                </a>
                                            </div>
                                            <div class="product-details">
                                                <a href="/products/{{this.type}}/{{this._id}}"><h4>{{this.name}}</h4></a>
                                                <p>Виборник: {{this.producer}}</p>
                                            </div>
                                            <div class="product-bottom-details d-flex justify-content-between">
                                                <div class="product-price">{{this.price}} грн</div>
                                                <div class="btn-group" role="group" style="float: right">
                                                    <button type="button" class="btn">
                                                        <a href="/products/{{this.type}}/{{this._id}}">
                                                            <i class="fas fa-eye"></i>
                                                        </a>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                {{/each}}
                            {{/if}}
                        </div>
                    </div>
                    <nav aria-label="Page navigation example">
                        <ul class="pagination justify-content-center mt-5">
                            {{#each pageLinks}}
                                <li class="page-item"><a class="page-link" href="{{this.link}}">{{this.number}}</a></li>
                            {{/each}}
                        </ul>
                    </nav>
                </section>
            </main>
        </div>
    </section>
</div>

<script>
    document.addEventListener("DOMContentLoaded", function(){
        document.querySelectorAll('.sidebar .nav-link').forEach(function(element){

            element.addEventListener('click', function (e) {

                let nextEl = element.nextElementSibling;
                let parentEl  = element.parentElement;

                if(nextEl) {
                    e.preventDefault();
                    let mycollapse = new bootstrap.Collapse(nextEl);

                    if(nextEl.classList.contains('show')){
                        mycollapse.hide();
                    } else {
                        mycollapse.show();
                        // find other submenus with class=show
                        var opened_submenu = parentEl.parentElement.querySelector('.submenu.show');
                        // if it exists, then close all of them
                        if(opened_submenu){
                            new bootstrap.Collapse(opened_submenu);
                        }
                    }
                }
            });
        })
    });
</script>


