<link rel="stylesheet" type="text/css" href="/css/chat-style.css">

<div class="chat">
    <div class="screen chat-screen">
        <div class="header">
            <div class="logo">Chatroom</div>
            {{#if user.isModerator}}
                <button id="exit-chat">
                    <a href="/moderator/chats" style="text-decoration: none; color: black">Exit</a>
                </button>
            {{else}}
                <button id="exit-chat">
                    <a href="/users/me" style="text-decoration: none; color: black">Exit</a>
                </button>
            {{/if}}
        </div>
        <div class="messages">
            <input type="hidden" id="recipient-id" value="{{recipientUser._id}}">
            {{#if user.isModerator}}
                {{#each messages}}
                    {{#if this.senderId.isModerator}}
                        <div class="message my-message">
                            <div>
                                <div class="avatar">
                                    <img src="/img/{{this.senderId.avatar}}" alt="User name">
                                </div>
                                <div class="name">You</div>
                                <div class="text">{{this.content}}</div>
                                <div class="time">{{this.createdAtString}}</div>
                            </div>
                        </div>
                    {{else}}
                        <div class="message other-message">
                            <div>
                                <div class="avatar">
                                    <img src="/img/{{this.senderId.avatar}}" alt="User name">
                                </div>
                                <div class="name">{{this.senderId.name}}</div>
                                <div class="text">{{this.content}}</div>
                                <div class="time">{{this.createdAtString}}</div>
                            </div>
                        </div>
                    {{/if}}
                {{/each}}
            {{else}}
                {{#each messages}}
                    {{#if this.senderId.isModerator}}
                        <div class="message other-message">
                            <div>
                                <div class="avatar">
                                    <img src="/img/{{this.senderId.avatar}}" alt="User name">
                                </div>
                                <div class="name">{{this.senderId.name}}</div>
                                <div class="text">{{this.content}}</div>
                                <div class="time">{{this.createdAtString}}</div>
                            </div>
                        </div>
                    {{else}}
                        <div class="message my-message">
                            <div>
                                <div class="avatar">
                                    <img src="/img/{{this.senderId.avatar}}" alt="User name">
                                </div>
                                <div class="name">You</div>
                                <div class="text">{{this.content}}</div>
                                <div class="time">{{this.createdAtString}}</div>
                            </div>
                        </div>
                    {{/if}}
                {{/each}}
            {{/if}}
        </div>
        <div class="type-box clearfix">
            <input type="text" id="message-input" placeholder="Type your message here..." />
            <button id="send-message">Send</button>
        </div>
    </div>
</div>

<script type="module" src="/js/chat.js"></script>

