<form style="margin: 30px 150px" action="/admin/glasses/{{product._id}}/update" method="POST" enctype="multipart/form-data">
    <h2 style="margin-bottom: 30px">Змінити дані про окуляри</h2>
    <div class="row mb-3">
        <label for="name" class="col-sm-2 col-form-label">Назва товару:</label>
        <div class="col-sm-10">
            <label for="name"></label><input type="text" class="form-control" id="name" name="name" value="{{product.name}}">
        </div>
    </div>
    <div class="row mb-3">
        <label for="price" class="col-sm-2 col-form-label">Ціна товару:</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="price" name="price" value="{{product.price}}">
        </div>
    </div>
    <div class="row mb-3">
        <label for="producer" class="col-sm-2 col-form-label">Виробник:</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="producer" name="producer" value="{{product.producer}}">
        </div>
    </div>
    <div class="row mb-3">
        <label for="dioptres" class="col-sm-2 col-form-label">Діопртрії: </label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="dioptres" name="dioptres" value="{{product.dioptres}}">
        </div>
    </div>
    <div class="row mb-3">
        <label for="sex" class="col-sm-2 col-form-label">Приналежність:</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="sex" name="sex" value="{{product.sex}}">
        </div>
    </div>
    <div class="row mb-3">
        <label for="materialOfGlassesFrames" class="col-sm-2 col-form-label">Матеріал оправи:</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="materialOfGlassesFrames" name="materialOfGlassesFrames"
                   value="{{product.materialOfGlassesFrames}}">
        </div>
    </div>
    <div class="row mb-3">
        <label for="colorOfGlassesFrames" class="col-sm-2 col-form-label">Колір оправи:</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="colorOfGlassesFrames" name="colorOfGlassesFrames"
                   value="{{product.colorOfGlassesFrames}}">
        </div>
    </div>
    <div class="row mb-3">
        <label for="description" class="col-sm-2 col-form-label">Опис товару:</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="description" name="description"
                   value="{{product.description}}">
        </div>
    </div>
    <div class="row mb-3">
        <label for="sizeImage" class="col-sm-2 col-form-label">Розміри товару:</label>
        <div class="col-sm-10">
            <img style="width: 200px; height: 200px; margin-bottom: 10px" src="/img/{{product.sizeImage}}" alt="">
            <input type="file" class="form-control" id="sizeImage" name="sizeImage"
                   value="{{product.sizeImage}}">
        </div>
    </div>
    <div class="row mb-3">
        <label for="imageCover" class="col-sm-2 col-form-label">Головне зображення товару:</label>
        <div class="col-sm-10">
            <img style="width: 200px; height: 200px; margin-bottom: 10px" src="/img/{{product.imageCover}}" alt="">
            <input type="file" class="form-control" id="imageCover" name="imageCover"
                   value="{{product.imageCover}}">
        </div>
    </div>
    <div class="row mb-3">
        <label for="images" class="col-sm-2 col-form-label">Додаткові зображення товару:</label>
            <div class="col-sm-10">
                {{#each product.images}}
                    <img style="width: 200px; height: 200px; margin-bottom: 10px" src="/img/{{this}}" alt="">
                {{/each}}
                <input type="file" multiple class="form-control" id="images" name="images" accept=".png, jpg, jpeg"
                       value="{{product.images}}">
            </div>
    </div>
    <button type="submit" class="btn btn-primary">Зберегти зміни</button>
</form>