<form style="margin: 30px 150px" action="/admin/cases/{{product._id}}/update" method="post" enctype="multipart/form-data">
    <h2 style="margin-bottom: 30px">Змінити інформацію про футляри</h2>
    <div class="row mb-3">
        <label for="name" class="col-sm-2 col-form-label">Назва товару:</label>
        <div class="col-sm-10">
            <label for="name"></label><input type="text" class="form-control" id="name" name="name"
                                             value="{{product.name}}" required>
        </div>
    </div>
    <div class="row mb-3">
        <label for="price" class="col-sm-2 col-form-label">Ціна товару:</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="price" name="price" value="{{product.price}}"
                   required>
        </div>
    </div>
    <div class="row mb-3">
        <label for="replacementMode" class="col-sm-2 col-form-label">Виробник:</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="replacementMode" name="producer" value="{{product.producer}}"
                   required>
        </div>
    </div>
    <div class="row mb-3">
        <label for="material" class="col-sm-2 col-form-label">Матеріал:</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="material" name="material"
                   value="{{product.material}}" required>
        </div>
    </div>
    <div class="row mb-3">
        <label for="color" class="col-sm-2 col-form-label">Колір:</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="color" name="color" value="{{product.color}}"
                   required>
        </div>
    </div>
    <div class="row mb-3">
        <label for="measurements" class="col-sm-2 col-form-label">Розміри(д/ш/в):</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="measurements" name="measurements" value="{{product.measurements}}" required>
        </div>
    </div>
    <div class="row mb-3">
        <label for="description" class="col-sm-2 col-form-label">Опис товару:</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="description" name="description" value="{{product.description}}"
                   required>
        </div>
    </div>
    <div class="row mb-3 images">
        <label for="imageCover" class="col-sm-2 col-form-label">Головне зображення товару:</label>
        <div class="col-sm-10">
            <img style="width: 200px; height: 200px; margin-bottom: 10px" src="/img/{{product.imageCover}}" alt="">
            <input type="file" class="form-control" id="imageCover" name="imageCover"
                   value="{{product.imageCover}}">
        </div>
    </div>
    <div class="row mb-3 ">
        <label for="images" class="col-sm-2 col-form-label">Додаткові зображення товару:</label>
        <div class="col-sm-10">
            {{#each product.images}}
                <img style="width: 200px; height: 200px; margin-bottom: 10px" src="/img/{{this}}" alt="">
            {{/each}}
            <input type="file" multiple class="form-control" id="images" name="images" accept=".png, jpg, jpeg"
                   value="{{product.images}}">
        </div>
    </div>
    <button type="submit" class="btn btn-primary">Зберегти зміни</button>
</form>