<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Bitter">

<div style="margin: auto; font-family: 'Bitter', sans-serif">
    <h1>Тип помилки: {{err.statusCode}} &#129300;</h1>
    <h2>{{err.message}}</h2>
</div>