<link rel="stylesheet" href="/css/forgot-password.css">

<div class="container padding-bottom-3x mb-2 mt-5 forgot-password">
    <div class="row justify-content-center">
        <div class="col-lg-8 col-md-10">
            <div class="forgot">
                <h2>Забули Ваш пароль?</h2>
                <p>Змініть пароль за три простих кроки. Це допоможе вам захистити свій пароль!</p>
                <ol class="list-unstyled">
                    <li><span class="text-primary text-medium">1. </span>Введіть свою електронну адресу</li>
                    <li><span class="text-primary text-medium">2. </span>Наша система надішле вам тимчасове посилання</li>
                    <li><span class="text-primary text-medium">3. </span>Скористайтеся посиланням, щоб відновити пароль</li>
                </ol>
            </div>
            <form class="card mt-4">
                <div class="card-body">
                    <div class="form-group">
                        <label for="email-for-pass">Введіть адресу вашої електронної пошти</label>
                        <input class="form-control" type="text" id="email-for-pass" name="email" required="">
                        <small class="form-text text-muted">Введіть адресу електронної пошти, яку ви використовували
                            під час реєстрації. Потім ми надішлемо посилання на цю адресу електронною поштою.</small>
                    </div>
                </div>
                <div class="card-footer">
                    <button class="btn btn-success forgot-password-button" type="submit">Отримати новий пароль</button>
                    <button class="btn btn-danger"><a href="/users/login" style="text-decoration: none; color: white">Повернутись до Login</a></button> </div>
            </form>
        </div>
    </div>
</div>