<link rel="stylesheet" href="/css/home.css">
<link rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Play">
<section class="home">
    <div class="container">
        <h4>Оптика</h4>
        <h2><span>Найкращі Ціни </span>Твого Міста</h2>
        <p>Наш інтернет-магазин піклується про Ваше<br> здоров`я та робить
            пошук всього необхідного<br> зручним та приємним.</p>
        <button><a href="/products/glasses">До покупок</a></button>
<!--        <button>До покупок</button>-->
    </div>
</section>
