<link rel="stylesheet" href="/css/login.css">
<link rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Comfortaa">
<link rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Play">

<section class="gradient-custom login">
<form class="container py-5" id="login-form">
    <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-8 col-lg-6 col-xl-5">
            <div class="card bg-dark text-white" style="border-radius: 1rem;">
                <div class="card-body p-5 text-center">
                    <div class="mb-md-5 mt-md-4 pb-5">
                        <h2 class="fw-bold mb-2 text-uppercase">Log In</h2>
                        <p class="text-white-50 mb-5">Будь ласка, заповніть дані!</p>
                        <div class="form-outline form-white mb-4">
                            <input type="email" id="typeEmailX" class="form-control form-control-lg email"
                                   placeholder="example@gmail.com"/>
                            <label class="form-label" for="typeEmailX">Email</label>
                        </div>
                        <div class="form-outline form-white mb-4">
                            <input type="password" id="typePasswordX" class="form-control form-control-lg password"
                                   placeholder="********"/>
                            <label class="form-label" for="typePasswordX">Пароль</label>
                        </div>
                        <p class="small mb-5 pb-lg-2"><a class="text-white-50" href="/users/forgotPassword">Забули пароль?</a></p>
                        <button class="btn btn-outline-light btn-lg px-5" type="submit">Login</button>
                    </div>
                    <div>
                        <p class="mb-0">Вперше на нашому сайті?
                            <a href="/users/signup" class="text-white-50 fw-bold">Зареєструватись</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
</section>
