<link rel="stylesheet" href="/css/moderator.cards.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Play">
<div class="container" style="display: inline-block; position: relative">
    {{#each userAndDate}}
        <div class="row text-center users-chats" style="padding-right: 40px; padding-top: 20px">
            <div class="col-xl-3 col-sm-6 mb-5 user-chat">
                <div class="bg-white rounded shadow-sm py-5 px-4">
                    <img src="/img/{{this.user.avatar}}" alt="" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
                    <h5 class="mb-0">
                        <a href="/moderator/chats/{{this.user._id}}" style="text-decoration: none; color: darkslategrey">{{this.user.name}}</a>
                    </h5><span class="small text-uppercase text-muted">{{this.createdAt}}</span>
                </div>
            </div>
        </div>
    {{/each}}
</div>