<link rel="stylesheet" href="/css/my-account.css">

<div class="container my-account">
    <div class="row justify-content-center">
        <div class="col-12 col-lg-10 col-xl-8 mx-auto">
            <h2 class="h3 mb-4 page-title">Особистий кабінет</h2>
            <div class="my-4">
                <form class="user-avatar" action="/users/updateAvatar" method="post" enctype="multipart/form-data">
                    <div class="row mt-5 align-items-center">
                        <div class="col-md-3 text-center mb-5">
                            <div class="avatar avatar-xl">
                                <img src="/img/{{user.avatar}}" alt="..." class="avatar-img rounded-circle"/>
                            </div>
                        </div>
                        <div class="col">
                            <div class="row align-items-center">
                                <div class="col-md-12">
                                    <h4 class="mb-1">{{user.name}}</h4>
                                    <p></p>
                                    <input type="file" class="form-control new-avatar" name="avatar" style="width: 400px"/>
                                    <button type="submit" class="btn btn-primary btn-change-avatar">Змінити фото</button>
                                    <p></p>
                                </div>
                            </div>
                            <div class="row mb-4">
                                <div class="col-md-7">
                                    <p class="text-muted">
                                        Тут ви можете змінити детальну інформацію про себе, якщо вам це необхідно та переглянути
                                        ваші замовлення
                                    </p>
                                </div>
                            </div>
                            <button class="btn-orders" style="font-size: 12px">
                                <a href="/products/my-orders">Мої замовлення</a>
                            </button>
                            <button class="btn-orders" style="font-size: 12px">
                                <a href="/users/chat">Задати питання консультанту</a>
                            </button>
                        </div>
                    </div>
                </form>
                <form class="user-form">
                    <hr class="my-4" />
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="user-name-id">Ім'я</label>
                            <input type="text" class="form-control" name="user-name-id" id="user-name-id" value="{{user.name}}" required/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="user-email">Пошта</label>
                        <input type="email" class="form-control" name="user-email" id="user-email" value="{{user.email}}" required/>
                    </div>
                    <button type="submit" class="btn btn-primary btn-save">Зберeгти</button>
                </form>
                <form class="user-form-password">
                    <hr class="my-4" />
                    <div class="row mb-4">
                        <div class="col-md-6">
                            <p>Зміна паролю</p>
                            <div class="form-group">
                                <label for="current-pass">Поточний пароль</label>
                                <input type="password" class="form-control" id="current-pass" />
                            </div>
                            <div class="form-group">
                                <label for="new-pass">Новий пароль</label>
                                <input type="password" class="form-control" id="new-pass"/>
                            </div>
                            <div class="form-group">
                                <label for="confirm-pass">Пароль ще раз</label>
                                <input type="password" class="form-control" id="confirm-pass"/>
                            </div>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary btn-save btn-user-pass">Зберегти</button>
                </form>
            </div>
        </div>
    </div>
</div>