<link rel="stylesheet" href="/css/basket.css">

<div class="card" style="margin-top: 30px; margin-bottom: 30px; font-family: 'Play', sans-serif;">
    <div class="row">
        {{#unless orders}}
            <h3>Ви ще не зробили жодного замовлення!&#128533;</h3>
            <h5>Поверніться до магазину та виправте цю ситуацію</h5>
            <div class="back-to-shop"><a href="/">&leftarrow;</a><span class="text-muted">До магазину</span></div>
        {{else}}
            {{#each orders}}
                <div class="col-md-8 cart">
                    <div class="title">
                        <div class="row">
                            <div class="col">
                                <h4><b>Замовлення</b></h4>
                                <small>Було оформлено {{this.createdAtString}}</small>
                            </div>
                            <div class="col align-self-center text-right text-muted">{{this.basketLines.length}} товарів</div>
                        </div>
                    </div>
                    {{#each this.basketLines}}
                        <div class="row border-top border-bottom">
                            <div class="row main align-items-center">
                                <div class="col-2"><img class="img-fluid" src="/img/{{this.product.imageCover}}" alt=""></div>
                                <div class="col">
                                    <div class="row text-muted product-type">{{this.product.type}}</div>
                                    <div class="row">{{this.product.name}}</div>
                                </div>
                                <div class="col">
                                </div>
                                <div class="col">
                                    Кількість: <input type="number" value="{{this.quantity}}" name="quantity" class="quantity" min="1" disabled>
                                </div>
                            </div>
                        </div>
                    {{/each}}
                    <div class="back-to-shop"><a href="/">&leftarrow;</a><span class="text-muted">До покупок</span></div>
                </div>
                <div class="col-md-4 summary">
                    <div>
                        <h5><b>Загальна сума</b></h5>
                    </div>
                    <div class="row" style="border-top: 1px solid rgba(0,0,0,.1); padding: 2vh 0;">
                        <div class="col">Всього до сплати</div>
                        <div class="col text-right sub-total-price">{{this.subTotalPrice}} грн</div>
                    </div>
                    <button class="btn btn-dark">Оплатити</button>
                </div>
            {{/each}}
        {{/unless}}
    </div>
</div>