<link rel="stylesheet" href="/css/login.css">
<link rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Comfortaa">
<link rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Play">


<section class="gradient-custom reset-token-form">
    <form class="container py-5">
        <div class="row d-flex justify-content-center align-items-center">
            <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                <div class="card bg-dark text-white" style="border-radius: 1rem;">
                    <div class="card-body p-5 text-center">
                        <div class="mb-md-5 mt-md-4 pb-5">
                            <h2 class="fw-bold mb-2 text-uppercase">Відновлення паролю</h2>
                            <p class="text-white-50 mb-5">Вітаємо Вас! Будь ласка, заповніть дані!</p>
                            </div>
                            <div class="form-outline form-white mb-4">
                                <input type="password" id="typePasswordX"
                                       class="form-control form-control-lg" name="password"
                                       placeholder="********"/>
                                <label class="form-label" for="typePasswordX">Пароль</label>
                            </div>
                            <div class="form-outline form-white mb-4">
                                <input type="password" id="typePasswordX"
                                       class="form-control form-control-lg" name="passwordConfirm"
                                       placeholder="********"/>
                                <label class="form-label" for="typePasswordX">Пароль ще раз</label>
                            </div>
                            <button class="btn btn-outline-light btn-lg px-5 reset-password-button"
                                    type="submit" token="{{token}}">Змінити</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</section>
