<link rel="stylesheet" href="/css/catalog.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Play">

<div class="container">
    <section class="section-content py-3">
        <div class="row">
            <main class="col-lg-10">
                <section class="catalog">
                    <div class="container">
                        <div class="row">
                            <h3 style="margin-bottom: 40px">Результат пошуку за запитом "{{query}}"</h3>
                            {{#if user}}
                                {{#if user.isAdmin}}
                                    {{#unless products}}
                                        <h5>За Вамиш запитом нічого не знайдено &#129335;&#8205;&#9792;&#65039;</h5>
                                    {{else}}
                                        {{#each products}}
                                            <div class="col-lg-4 .col-sm-6">
                                                <div class="product-card">
                                                    <div class="btn-group edit-and-delete" role="group" style="float: right">
                                                        <button type="button" class="btn btn-outline-dark">
                                                            <a href="/admin/{{this.type}}/{{this._id}}/update">
                                                                <i class="fas fa-edit"></i>
                                                            </a>
                                                        </button>
                                                        <button type="button" class="btn btn-outline-dark button-delete"
                                                                product-id="{{this._id}}"  product-type="{{this.type}}">
                                                            <i class="fas fa-trash"></i>
                                                        </button>
                                                    </div>
                                                    <div class="product-thumb">
                                                        <a href="/products/{{this.type}}/{{this._id}}">
                                                            <img src="/img/{{this.imageCover}}" alt="">
                                                        </a>
                                                    </div>
                                                    <div class="product-details">
                                                        <a href="/products/{{this.type}}/{{this._id}}">
                                                            <h4>{{this.name}}</h4></a>
                                                        <p>Виборник: {{this.producer}}</p>
                                                    </div>
                                                    <div class="product-bottom-details d-flex justify-content-between">
                                                        <div class="product-price">{{this.price}} грн</div>
                                                        <div class="btn-group" role="group" style="float: right">
                                                            <button type="button" class="btn">
                                                                <a href="/products/{{this.type}}/{{this._id}}">
                                                                    <i class="fas fa-eye"></i>
                                                                </a>
                                                            </button>
                                                            <button type="button" class="btn button-add-to-cart">
                                                                <i class="fas fa-shopping-bag"></i>
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        {{/each}}
                                    {{/unless}}
                                {{else}}
                                    {{#unless products}}
                                        <h5>За Вамиш запитом нічого не знайдено &#129335;&#8205;&#9792;&#65039;</h5>
                                    {{else}}
                                        {{#each products}}
                                            <div class="col-lg-4 .col-sm-6">
                                                <div class="product-card">
                                                    <div class="product-thumb">
                                                        <a href="/products/{{this.type}}/{{this._id}}">
                                                            <img src="/img/{{this.imageCover}}" alt="">
                                                        </a>
                                                    </div>
                                                    <div class="product-details">
                                                        <a href="/products/{{this.type}}/{{this._id}}"><h4>{{this.name}}</h4></a>
                                                        <p>Виборник: {{this.producer}}</p>
                                                    </div>
                                                    <div class="product-bottom-details d-flex justify-content-between">
                                                        <div class="product-price">{{this.price}} грн</div>
                                                        <div class="btn-group" role="group" style="float: right">
                                                            <button type="button" class="btn">
                                                                <a href="/products/{{this.type}}/{{this._id}}">
                                                                    <i class="fas fa-eye"></i>
                                                                </a>
                                                            </button>
                                                            <button type="button" class="btn button-add-to-basket"
                                                                    product-id="{{this._id}}"  product-type="{{this.type}}">
                                                                <i class="fas fa-shopping-bag"></i>
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        {{/each}}
                                    {{/unless}}
                                {{/if}}
                            {{else}}
                                {{#unless products}}
                                    <h5>За Вамиш запитом нічого не знайдено &#129335;&#8205;&#9792;&#65039;</h5>
                                {{else}}
                                    {{#each products}}
                                        <div class="col-lg-4 .col-sm-6">
                                            <div class="product-card">
                                                <div class="product-thumb">
                                                    <a href="/products/{{this.type}}/{{this._id}}">
                                                        <img src="/img/{{this.imageCover}}">
                                                    </a>
                                                </div>
                                                <div class="product-details">
                                                    <a href="/products/{{this.type}}/{{this._id}}"><h4>{{this.name}}</h4></a>
                                                    <p>Виборник: {{this.producer}}</p>
                                                </div>
                                                <div class="product-bottom-details d-flex justify-content-between">
                                                    <div class="product-price">{{this.price}} грн</div>
                                                    <div class="btn-group" role="group" style="float: right">
                                                        <button type="button" class="btn">
                                                            <a href="/products/{{this.type}}/{{this._id}}">
                                                                <i class="fas fa-eye"></i>
                                                            </a>
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    {{/each}}
                                {{/unless}}
                            {{/if}}
                        </div>
                    </div>
                </section>
            </main>
        </div>
    </section>
</div>


