<link rel="stylesheet" href="/css/statistic-table.css">

<h2>Замовлення за рік</h2>
<table class="center" id="statistic-for-month">
    <thead>
        <tr>
            <th class="text-center">Місяць</th>
            <th class="text-center">К-сть замовлень</th>
        </tr>
    </thead>
    {{#each countOfOrders}}
        <tr>
            <td class="text-center">{{this.date}}</td>
            <td class="text-center">{{this.statistic}}</td>
        </tr>
    {{/each}}
</table>
