<link rel="stylesheet" href="/css/statistic-table.css">

<h2>Замовлення за останній місяць на {{currentDate}} {{currentMonth}}</h2>
    <table class="center table-scroll small-first-col" id="statistic-for-month">
        <thead>
            <tr>
                <th class="text-center">Дата</th>
                <th class="text-center">К-сть замовлень</th>
            </tr>
        </thead>
        <tbody class="body-half-screen">
        {{#each countOfOrders}}
            <tr>
                <td class="text-center">{{this.date}}</td>
                <td class="text-center">{{this.statistic}}</td>
            </tr>
        {{/each}}
        </tbody>
    </table>
