<link rel="stylesheet" href="/css/statistic-table.css">

<h2>Замовлення за день</h2>
<table class="center" id="statistic-for-month">
    <thead>
    <tr>
        <th class="text-center">Тип продукту</th>
        <th class="text-center">К-сть продуктів у замовленнях</th>
    </tr>
    </thead>
    <tr>
        <td class="text-center">Окуляри</td>
        <td class="text-center">{{countGlassesProduct}}</td>
    </tr>
    <tr>
        <td class="text-center">Лінзи</td>
        <td class="text-center">{{countLensesProduct}}</td>
    </tr>
    <tr>
        <td class="text-center">Футляри</td>
        <td class="text-center">{{countCasesProduct}}</td>
    </tr>
</table>
