<link rel="stylesheet" href="/css/statistic-table.css">

<h2>ТОП-5 продуктів</h2>
<table class="center" id="statistic-for-month">
    <thead>
        <tr>
            <th class="text-center">Назва продукту</th>
            <th class="text-center">К-сть продуктів у замовленнях</th>
        </tr>
    </thead>
    {{#each orders}}
        <tr>
            {{#each this.product}}
                <td class="text-center">{{this.name}}</td>
            {{/each}}
            <td class="text-center">{{this.count}}</td>
        </tr>
    {{/each}}
</table>
