.catalog{
    font-family: 'Play', sans-serif;
    margin-top: 30px;
    margin-bottom: 30px;
}

.product-card{
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.06);
    transition: all .3s;
}

.product-card:hover{
    box-shadow: 0 14px 30px -15px rgba(0, 0, 0, 0.75);
}

.product-thumb{
    display: flex;
    align-content: center;
    justify-content: center;
    height: 200px;
    padding: 20px;
}

.product-thumb img{
    width: 180px;
    height: 180px;
}

.product-details{
    padding: 20px;
}

.product-details a{
    font-weight: 500;
    display: block;
    height: 80px;
    overflow: hidden;
    text-decoration: none;
    color: cornflowerblue;
}

.product-details p{
    font-size: 15px;
    margin-bottom: 10px;
    color: #999;
    overflow: hidden;
}

.product-bottom-details{
    overflow: hidden;
    border-top: 1px solid #eee;
    padding-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    padding-bottom: 20px;
}

.product-price{
    font-size: 18px;
    color: #ee6e73;
    font-weight: 600;
}



.edit-and-delete a, a:hover{
    color: inherit;
    text-decoration-color: cornflowerblue;
    text-decoration: none;
}

.catalog .fa-shopping-bag, .fa-eye{
    font-size: 20px;
    color: black;
}

.catalog input[type=button] {
    outline: none !important;
    box-shadow: none !important;
}

.catalog .fa-shopping-bag:hover, .fa-eye:hover,
.catalog .fa-shopping-bag:active, .fa-eye:active{
    color: cornflowerblue;
}

.wrapper {
    display: block;
}

#sidebar {
    min-width: 250px;
    max-width: 250px;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
}

.overlay {
    display: none;
    position: fixed;
    /* full screen */
    width: 100vw;
    height: 100vh;
    /* transparent black */
    background: rgba(0, 0, 0, 0.7);
    /* middle layer, i.e. appears below the sidebar */
    z-index: 998;
    opacity: 0;
    /* animate the transition */
    transition: all 0.5s ease-in-out;
}
/* display .overlay when it has the .active class */
.overlay.active {
    display: block;
    opacity: 1;
}

#dismiss {
    width: 35px;
    height: 35px;
    position: absolute;
    /* top right corner of the sidebar */
    top: 10px;
    right: 10px;
}

.fa-filter{
    font-size: 14px;
}

ul{
    list-style-type: none;
}

.has-submenu a{
    color: #33383c;
    font-family: 'Play', sans-serif;
}

.clear-filters a{
    text-decoration: none;
    color: white;
}

.clear-filters {
    color: #fff;
    background-color: #adb7ff;
    border-color: #dfe1ff;
    height: 30px;
    width: 130px;
}

.clear-filters:hover {
    color: #fff;
    background-color: royalblue;
    border-color: royalblue;
}


/* PAGINATION */
.pagination body {
    align-items: center;
    color: #555;
    display: flex;
    font-family: 'Inter UI', sans-serif;
    font-size: 1.25em;
    justify-content: center;
    height: 100vh;
    margin: 0;
}
.pagination .container {
    display: inline-block;
    position: relative;
}
.pagination .index {
    cursor: pointer;
    display: inline;
    margin-right: 30px;
    padding: 5px;
    user-select: none;
    -moz-user-select: none;
}
.pagination .index:last-child {
    margin: 0;
}
.pagination svg {
    left: -13px;
    position: absolute;
    top: -11px;
    transition: transform 500ms;
    width: 46px;
}
.pagination path {
    fill:none;
    stroke:#2FB468;
    stroke-dasharray: 150 150;
    stroke-width:15;
}
.pagination .container.open:not(.flip) path {
    animation: OpenRight 500ms;
}
.pagination .container.open.flip path {
    animation: OpenLeft 500ms;
}
.pagination .container.i1 svg {
    transform: translateX(0);
}
.pagination .container.i2 svg {
    transform: translateX(50px);
}
.pagination .container.i3 svg {
    transform: translateX(102px);
}
.pagination .container.i4 svg {
    transform: translateX(154px);
}
.pagination .container.i5 svg {
    transform: translateX(206px);
}
@keyframes OpenRight {
    25% { stroke-dasharray: 100 150; }
    60% { stroke-dasharray: 100 150; }
    100% { stroke-dasharray: 150 150; }
}
@keyframes OpenLeft {
    25% { stroke-dashoffset: -50px; }
    60% { stroke-dashoffset: -50px; }
    100% { stroke-dashoffset: 0; }
}







