.chat {
    height: 80vh;
    background-color: #fff;
    border-left: 1px solid #fff;
    border-right: 1px solid #fff;
}

.chat-screen .header {
    background: transparent;
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2px;
}

.chat-screen .header .logo {
    font-size: 18px;
    color: black;
    font-weight: 600;
}

.chat-screen .header button {
    padding: 5px 10px;
    border: 1px solid black;
    background: transparent;
    color: black;
    font-size: 18px;
    cursor: pointer;
    outline: none;
}

.chat-screen .messages {
    width: 100%;
    height: calc(100% - 100px);
    background: #f8f9fa;
    overflow: auto;
    font-size: 20px;
    margin: 0 0 20px;
}

.chat-screen .messages .message.other-message {
    padding: 0 0 0 58px;
    text-align: left;
    float: left;
}

.chat-screen .messages .message {
    position: relative;
    max-width: 600px;
    overflow: hidden;
    clear: both;
}

.chat-screen .messages .message.other-message .avatar {
    left: 0;
}

.chat-screen .messages .message .avatar {
    bottom: 36px;
    width: 40px;
    height: 40px;
    position: absolute;
}

.chat-screen .messages .message .avatar img {
    display: block;
    border-radius: 20px;
    height: 100%;
}

.chat-screen .messages .message .name {
    font-size: 14px;
    line-height: 36px;
}

.chat-screen .messages .message.other-message .text {
    background: #DDDFF9;
    color: #333333;
    border-radius: 8px 8px 8px 0;
}
.chat-screen .messages .message .text {
    padding: 12px;
    font-size: 16px;
    line-height: 26px;
    position: relative;
}
.chat-screen .messages .message.other-message .text:before {
    left: -30px;
    border-right-color: #DDDFF9;
    border-right-width: 12px;
}
.chat-screen .messages .message .text:before {
    content: '';
    display: block;
    position: absolute;
    bottom: 0;
    border: 18px solid transparent;
    border-bottom-width: 0;
}
.chat-screen .messages .message.other-message .time {
    padding-left: 12px;
    color: #333333;
}
.chat-screen .messages .message .time {
    font-size: 16px;
    line-height: 36px;
    position: relative;
    padding-bottom: 1px;
}

.chat-screen .messages .message.my-message {
    padding: 0 58px 0 0;
    text-align: right;
    float: right;
}

.chat-screen .messages .message.my-message .avatar {
    right: 0;
}

.chat-screen .messages .message.my-message .text {
    background: #8A9EF0;
    color: #ffffff;
    border-radius: 8px 8px 0 8px;
}
.chat-screen .messages .message.my-message .text:before {
    right: -30px;
    border-left-color: #8A9EF0;
    border-left-width: 12px;
}
.chat-screen .messages .message.my-message .time {
    padding-right: 12px;
    color: #333333;
}


.type-box {
    width: 99%;
    background-color: #fff;
    margin: auto;
    position: absolute;
    bottom: 0;
    display: inline-block;
}
.type-box #message-input {
    display: inline-block;
    height: 50px;
    border-radius: 25px;
    border: 1px solid #bcbdc0;
    width: calc(100% - 160px);
    position: relative;
    padding: 0 20px;
}

.type-box #send-message {
    width: 140px;
    height: 50px;
    display: inline-block;
    border-radius: 50px;
    background-color: #7871D9;
    border: 2px solid #7871D9;
    color: #fff;
    cursor: pointer;
    transition: all 0.2s linear;
    text-align: center;
    float: right;
}
.type-box #send-message:hover {
    color: #7871D9;
    background-color: #fff;
}

/*.hidden-messages {*/
/*    visibility: hidden;*/
/*}*/
/*.chat-screen .typebox {*/
/*    width: 99%;*/
/*    background-color: #fff;*/
/*    margin: auto;*/
/*    position: absolute;*/
/*    bottom: 0;*/
/*}*/

/*.chat-screen .typebox input {*/
/*    flex: 1;*/
/*    height: 50px;*/
/*    font-size: 18px;*/
/*    width: 80%;*/
/*}*/

/*.chat-screen .typebox button {*/
/*    width: 15%;*/
/*    height: 100%;*/
/*    background: #111;*/
/*    color: #eee;*/
/*    font-size: 16px;*/
/*    outline: none;*/
/*    cursor: pointer;*/
/*}*/