.glasses-details .container{
    margin-top: 30px;
    margin-bottom: 30px;
    font-family: 'Play', sans-serif;
}

.glasses-details img{
    width: 500px;
    height: 550px;
    background-color: #eeeeee;
}

.newarrival{
    background-color: green;
    width: 50px;
    color: white;
    font-size: 12px;
    font-weight: bold;
}

.glasses-details .col-lg-5{
    color: #555;
}

.glasses-details .col-lg-5 .measure{
    width: 400px;
    height: 80px;
}

.price{
    font-size: 24px;
    text-transform: uppercase;
    color: cornflowerblue;
}


.glasses-details .btn-primary{
    background-color: #1d1d1d;
    color: white;
    font-weight: bold;
    border-radius: 30px;
    border-color: cornflowerblue;
}

.glasses-details .btn-primary:hover{
    background-color: cornflowerblue;
}

details, summary{
    margin-top: 20px;
    margin-bottom: 20px;
}

/* COMMENTS */
.comments body {
    background-color: #eee
}

.comments .card {
    background-color: #fff;
    border: none
}

.comments .form-color {
    background-color: #fafafa
}

.comments .form-control {
    height: 48px;
    border-radius: 25px
}

.comments .form-control:focus {
    color: #495057;
    background-color: #fff;
    border-color: #35b69f;
    outline: 0;
    box-shadow: none;
    text-indent: 10px
}

.comments .c-badge {
    background-color: #35b69f;
    color: white;
    height: 20px;
    font-size: 11px;
    width: 92px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2px
}

.comments .comment-text {
    font-size: 13px
}


.comments .user-feed {
    font-size: 14px;
    margin-top: 12px
}

.comments img{
    width: 40px;
    height: 40px;
}

/* ADD COMMENT */
.add-comment .card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    padding: 20px;
    width: 450px;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border-radius: 6px;
    -moz-box-shadow: 0 0 5px 0 rgba(212, 182, 212, 1)
}

.add-comment .comment-box {
    padding: 5px
}

.add-comment .comment-area textarea {
    resize: none;
    border: 1px solid #ad9f9f
}

.add-comment .form-control:focus {
    color: #495057;
    background-color: #fff;
    border-color: #ffffff;
    outline: 0;
    box-shadow: 0 0 0 1px cornflowerblue !important
}

.add-comment .send {
    color: #fff;
    background-color: cornflowerblue;
    border-color: cornflowerblue;
    width: auto;
    height: 30px;
}

.add-comment .send:hover {
    color: #fff;
    background-color: royalblue;
    border-color: royalblue;
}

.add-comment .rating {
    display: flex;
    margin-top: -10px;
    flex-direction: row-reverse;
    margin-left: -4px;
    float: left
}

.add-comment .rating>input {
    display: none
}

.add-comment .rating>label {
    position: relative;
    width: 19px;
    font-size: 25px;
    color: gold;
    cursor: pointer
}

.add-comment .rating>label::before {
    content: "\2605";
    position: absolute;
    opacity: 0
}

.add-comment .rating>label:hover:before,
.add-comment .rating>label:hover~label:before {
    opacity: 1 !important
}

.add-comment .rating>input:checked~label:before {
    opacity: 1
}

.add-comment .rating:hover>input:checked~label:before {
    opacity: 0.4
}

.stars{
    color: gold;
}

.fa-link:hover,
.fa-link:active{
    color: cornflowerblue;
}

.fa-link{
    padding: 0;
    margin: 0 10px;
    cursor: pointer;
    font-weight: 500;
    transition: 0.3s ease;
}

#copy-button {
    border: none;
    background-color: transparent;
}




