footer {
    background-color: #33383c;
    padding: 30px 0;
    font-family: 'Comfortaa', sans-serif;
}

.logo img{
    height: 60px;
    width: 60px;
}

.logo {
    color: #FFF;
    font-weight: 700;
    font-size: 30px;
}

.address span,
.menu span {
    color: #FFF;
    font-weight: bold;
    border-bottom: 1px solid #c7c7c7;
    padding: 10px 0;
    display: block;
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 3px;
}

.address li a,
.menu li a {
    color: #FFF;
    letter-spacing: 3px;
    text-decoration: none;
    font-size: 12px;
}

.address li,
.menu li {
    margin: 20px 0;
    list-style: none;
}

.address li a:hover,
.menu li a:hover {
    color: cornflowerblue;
    transition: all 1s ease-in-out;
    -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
}

.fa-phone, .fa-map-marker, .fa-envelope{
    color: white;
}
