body{
    box-sizing: border-box;
}

.header img{
    height: 40px;
    width: 40px;
}

.navbar{
    font-size: 16px;
    font-family: 'Comfortaa', sans-serif;
}

.navbar-light .navbar-nav .nav-link{
    padding: 0 20px;
    transition: 0.3s ease;
    font-size: 18px;
}

.navbar-light .navbar-nav .nav-link:hover,
.fa-shopping-bag:hover,
.navbar-light .navbar-nav .nav-link:active,
.fa-shopping-bag:active{
    color: cornflowerblue;
}

.fa-search, .fa-shopping-bag{
    font-size: 1.2rem;
    padding: 0;
    margin: 0 10px;
    cursor: pointer;
    font-weight: 500;
    transition: 0.3s ease;
}

/*Mobile Nav*/
.navbar-light .navbar-toggler{
    border: none;
    outline: none;
}

.highlighted-basket{
    color: cornflowerblue;
}

.default-basket{
    color: black;
}

.search-box{
    width: fit-content;
    height: fit-content;
    position: relative;
    padding: 0;
    margin-top: 10px;
}
.search-box .input-search{
    height: 50px;
    width: 50px;
    border-style: none;
    padding: 10px;
    font-size: 14px;
    outline: none;
    transition: all .5s ease-in-out;
    padding-right: 40px;
    color:black;
    background-color: transparent;
}
.search-box .input-search::placeholder{
    color: #8e9194;
    font-size: 14px;
    letter-spacing: 2px;
    font-weight: 100;
}
.search-box .btn-search{
    width: 50px;
    height: 50px;
    border-style: none;
    font-size: 14px;
    font-weight: bold;
    outline: none;
    cursor: pointer;
    border-radius: 50%;
    position: absolute;
    right: 0;
    color: black;
    background-color:transparent;
    pointer-events: painted;
}
.search-box .btn-search:hover ~ .input-search{
    width: 300px;
    border-radius: 0;
    background-color: transparent;
    border-bottom:1px solid black;
    transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2);
}
.search-box .input-search:hover{
    width: 300px;
    border-radius: 0;
    background-color: transparent;
    border-bottom:1px solid black;
    transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2);
}


@media only screen and (max-width: 991px){
    body > nav > div > button:hover,
    body > nav > div > button:focus{
        background-color: cornflowerblue;
    }

    #navbarSupportedContent > ul{
        margin: 1rem;
        justify-content: flex-end;
        align-items: flex-end;
        text-align: right;
    }

    #navbarSupportedContent > div{
        margin: 1rem;
        float: right;
    }

    .navbar-light .navbar-nav .nav-link{
        padding-right: 0;
        padding-bottom: 10px;;
    }
}
