.home{
    font-family: 'Play', sans-serif;
}

.home span{
    color: cornflowerblue;
}

.home h4{
    font-size: 1.05rem;
    font-weight: 600;
    text-transform: uppercase;
}

.hpme h2{
    font-weight: bold;
}

.home button{
    font-size: 0.8rem;
    font-weight: 700;
    outline: none;
    border: none;
    background-color: #1d1d1d;
    color: aliceblue;
    padding: 13px 30px;
    cursor: pointer;
    text-transform: uppercase;
    transition: 0.3s ease;
}

.home button a{
    text-decoration: none;
    color: white;
}

.home button:hover{
    background-color: cornflowerblue;
}

.home{
    background-image: url("../img/ideal-background.jpg");
    width: 100%;
    height: 120vh;
    background-size: cover;
    background-position: top center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    margin-left: auto;
}
