.my-account body{
    color: #8e9194;
    background-color: #f4f6f9;
    font-family: 'Play', sans-serif;
}
.avatar-xl img {
    width: 100%;
    height: auto;
}
.my-account .rounded-circle {
    border-radius: 50% !important;
}
.my-account img {
    vertical-align: middle;
    border-style: none;
}
.my-account .text-muted {
    color: #aeb0b4 !important;
}
.my-account .text-muted {
    font-weight: 300;
}
.my-account .form-control {
    display: block;
    width: 100%;
    height: calc(1.5em + 0.75rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.5;
    color: #4d5154;
    background-color: #ffffff;
    background-clip: padding-box;
    border: 1px solid #eef0f3;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.my-account p{
    font-size: 20px;
}

.my-account .btn-secondary{
    font-size: 12px;
    height: 30px;
    width: 100px;
}
.my-account .user-avatar .btn-change-avatar{
    width: 115px;
    height: 40px;
    font-size: 12px;
    background-color: cornflowerblue;
    font-family: 'Comfortaa', sans-serif;
}

.my-account .btn-save{
    font-size: 14px;
    background-color: cornflowerblue;
    font-family: 'Comfortaa', sans-serif;
}

.my-account .btn-save:hover{
    background-color: royalblue;
}

.btn-orders {
    align-items: center;
    appearance: none;
    background-color: #fff;
    border-radius: 6px;
    border-style: none;
    box-shadow: rgba(0, 0, 0, .2) 0 3px 5px -1px,rgba(0, 0, 0, .14) 0 6px 10px 0,rgba(0, 0, 0, .12) 0 1px 18px 0;
    box-sizing: border-box;
    color: #3c4043;
    cursor: pointer;
    fill: currentcolor;
    font-family: 'Comfortaa', sans-serif;
    font-weight: 500;
    height: 48px;
    justify-content: center;
    letter-spacing: .25px;
    line-height: normal;
    max-width: 100%;
    overflow: visible;
    /*padding: 2px 24px;*/
    text-align: center;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: auto;
    will-change: transform,opacity;
    z-index: 0;
}

.btn-orders:hover {
    background: #F6F9FE;
    color: #174ea6;
}

.btn-orders:active {
    box-shadow: 0 4px 4px 0 rgb(60 64 67 / 30%), 0 8px 12px 6px rgb(60 64 67 / 15%);
    outline: none;
}

.btn-orders:focus {
    outline: none;
    border: 2px solid #4285f4;
}

.btn-orders a{
    text-decoration: none;
    color: #174ea6;
}


.alert{
    position: fixed;
    top: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    z-index: 9999;
    color: #fff;
    font-size: 1.8rem;
    font-weight: 400;
    text-align: center;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    padding: 1.6rem 15rem;
    -webkit-box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.25);
    box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.25);
}
.alert--success {
    background-color: #20bf6b;
}
.alert--error {
    background-color: #eb4d4b;
}