table {
    width: 60%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

table.center {
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
}

h2 {
    font-size: 30px;
    text-transform: uppercase;
    font-weight: 300;
    text-align: center;
    margin-bottom: 15px;
    padding: 10px;
}

th {
    color:#D5DDE5;;
    background:#8A9EF0;
    border-bottom:4px solid cornflowerblue;
    border-right: 1px solid #666B85;
    font-size:23px;
    font-weight: 100;
    padding:10px;
    text-align:left;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    vertical-align:middle;
}

th:first-child {
    border-top-left-radius:3px;
}

th:last-child {
    border-top-right-radius:3px;
    border-right:none;
}

tr {
    border-top: 1px solid #C1C3D1;
    border-bottom: 1px solid #C1C3D1;
    color:#666B85;
    font-size:14px;
    font-weight:normal;
    text-shadow: 0 1px 1px rgba(256, 256, 256, 0.1);
}

tr:hover td {
    color:#FFFFFF;
    border-top: 1px solid cornflowerblue;
}

tr:nth-child(odd) td {
    background:#EBEBEB;
}

tr:hover td {
    background:#A9CAF5;
}

tr:last-child td:first-child {
    border-bottom-left-radius:3px;
}

tr:last-child td:last-child {
    border-bottom-right-radius:3px;
}

td {
    background:#FFFFFF;
    padding:10px;
    text-align:left;
    vertical-align:middle;
    font-weight:300;
    font-size:18px;
    text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.1);
    border-right: 1px solid #C1C3D1;
}

th.text-center {
    text-align: center;
}

td.text-center {
    text-align: center;
}


.table-scroll{
    /*width:100%; */
    display: block;
    empty-cells: show;
}

.table-scroll thead{
    background-color: #f1f1f1;
    position:relative;
    display: block;
    width:100%;
}

.table-scroll tbody{
    display: block;
    position:relative;
    width:100%;
    overflow-y:scroll;
}

.table-scroll tr{
    width: 100%;
    display:flex;
}

.table-scroll td,.table-scroll th{
    flex-basis:100%;
    flex-grow:2;
    display: block;
    padding: 1rem;
    text-align:left;
}


.table-scroll.small-first-col td:first-child,
.table-scroll.small-first-col th:first-child{
    flex-basis:20%;
    flex-grow:1;
}

.body-half-screen{
    max-height: 50vh;
}

